<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div class="content">
            <h1>
                <a href="#" id="logo"><img src="~/Images/logo.png" alt="Ficticious Booksellers" width="263" height="80" /></a>
            </h1>
            <nav>
                @{
                    var currentController = ViewContext.RouteData.Values["controller"] as string ?? "Home";
                    var currentAction = ViewContext.RouteData.Values["action"] as string ?? "Index";
                    var currentPage = (currentController + "-" + currentAction).ToLower();
                }
                <ul>
                    <li class="@(currentPage == "home-index" ? "selected" : "")">@Html.ActionLink("Home", "Index", "Home")</li><!--
                    --><li class="@(currentPage == "books-index" ? "selected" : "")"><a href="#">Books</a></li><!--
                    --><li class="@(currentPage == "home-about" ? "selected" : "")">@Html.ActionLink("About", "About", "Home")</li><!--
                    --><li class="@(currentPage == "home-contact" ? "selected" : "")">@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </nav>
        </div>
    </header>
    @RenderSection("hero", required: false)
    <main class="@(currentPage != "home-index" ? "push-down" : null)">
        <div class="content">
            @RenderBody()
        </div>
    </main>
    <footer>
        <div class="content">
        </div>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
